
<div class="col-md-12" style="margin-right:0px;margin-left:0px;width:110%">

    <div class="row">
        <div class="col-md-12" style="margin-right:0px;margin-left:0px;">
            <div class="panel panel-primary">
                <div class="panel-heading" style="text-align:left">
                    <h3>Add Enquiry</h3>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-1" style="text-align:left">
                            <label>Extra Item</label>
                        </div>
                        <div class="col-md-5">
                            <input type="text" class="form-control" name="txtExtraitem" required id="txtExtraitem" />
                            <input type="hidden" id="extraitemId" />
                        </div>
                        <div class="col-md-1" style="text-align:left">
                            <label>Amount</label>
                        </div>
                        <div class="col-md-2">
                            <input type="number" class="form-control" name="txtetraitemAmount" required id="txtetraitemAmount" />
                        </div>
                        <div class="col-md-2">
                            <button class="btn-info btn" id="bnaddExtra"><i class="fa fa-plus-circle" aria-hidden="true"></i></button>
                            <button class="btn-danger btn" id="btnIdExtracancel">X</button>


                        </div>
                    </div>

                    
                    </div>
                </div>
    </div>
</div>
    </div>

