
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>

    <meta name="viewport" content="width=device-width" />
    <title>Forgot Password</title>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <style>
        .bg-image-vertical {
            position: relative;
            overflow: hidden;
            background-repeat: no-repeat;
            background-position: right center;
            background-size: auto 100%;
            background-color: #1b1e24;
        }
    </style>
    <script>
        $(document).ready(function () {
            $("#txtMobilnumber").focus();
        });
    </script>
</head>
<body>
    <section class="vh-100 gradient-custom" style="background-color:#1b1e24">
        <div class="container py-5 h-100">
            <div class="row d-flex justify-content-center align-items-center h-100">
                <div class="col-12 col-md-8 col-lg-6 col-xl-5">
                    <div class="card bg-dark text-white" style="border-radius: 1rem;">
                        <div class="card-body p-5 text-center" style=" height: 400px;">
                            <div class="mb-md-5 mt-md-4 pb-5">
                                <form method="post">
                                    @if (ViewBag.Msg != null && ViewBag.Msg != "" && ViewBag.MsgType != null && ViewBag.MsgType != "")
                                    {
                                        @if (ViewBag.MsgType == "1")
                                        {
                                            <div class="alert alert-success" role="alert" style="font-size:small">
                                                @ViewBag.Msg
                                            </div>
                                        }
                                        else
                                        {
                                            <div class="alert alert-danger" role="alert" style="font-size:small">
                                                @ViewBag.Msg
                                            </div>
                                        }

                                    }
                                    <h2 class="fw-bold mb-2" style="font-size:large">Forgot Password</h2>
                                    <br />

                                    <div class="form-outline form-white mb-2">
                                        <input type="number" id="txtMobilnumber" name="txtMobilnumber" class="form-control form-control-lg" placeholder="Mobile Number" />
                                    </div>

                                    <button class="btn btn-outline-light btn-lg px-5" type="submit"
                                            style="background-color: #1caf9a; border-color: #1caf9a; width:100%">
                                        Submit
                                    </button>
                                    <div class="col-md-12" style="margin-bottom:15px;display:block">
                                        <a href="/login" class="btn btn-link btn-block" style="color: white">Click here Login</a>
                                        &nbsp;
                                    </div>
                                </form>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</body>
</html>
